.info {
  margin-top: 1.5rem;
  color: var(--info);
  font-size: 0.875rem;

  display: flex;

  time, span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: capitalize;
  }

  time + span {
    margin-left:  1.5rem;
  }

  span {
    margin-left: 1.75rem;
  }

  svg {
    margin-right: 0.5rem;
  }
}
