.info {
  margin-top: 1.5rem;
  color: var(--info);
  font-size: 0.875rem;

  display: flex;

  time, span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: capitalize;
  }

  time + span {
    margin-left:  1.5rem;
  }

  span {
    margin-left: 1.75rem;
  }

  svg {
    margin-right: 0.5rem;
  }
}

.exitPreviewMode {
  margin-top: 6.25rem;
  width: 100%;
  height: 3.625rem;
  text-align: center;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: var(--heading);
    color: var(--background);
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.375rem;
    border-radius: 4px;
  }
}
