.container {
  display: block;
  width: 100%;
}

.banner {
  margin: 0;
  padding: 0;
  width: 100%;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.content {
  width: 100%;
  max-width: 720px;
  margin: 5rem  auto;
}

.post {
  display: block;



  p {
    font-size: 1.125rem;
    line-height: 1.59375rem;
    text-align: justify;
    color: var(--body);
  }

  header {

    h1 {
      font-size: 3rem;
      color: var(--heading);
      font-weight: 700;
    }

    > div {
      margin-top: 1.5rem;
      display: flex;
      align-items: center;
    }

    > time {
      display: block;
      margin-top: 1rem;
      font-size: .875rem;
      font-style: italic;
    }
  }
}

.postContent {
  margin-top: 4rem;

  h2 {
    color: var(--heading);
    font-size: 2.25rem;
    margin-bottom: 5rem;
  }

  p {
    font-size: 1.125rem;
    margin-bottom: 2.125rem;
  }

  a {
    color: var(--highlight);
  }
}

.navigation {
  display: flex;
  position: relative;
  margin-top: 3.75rem;
  margin-bottom: 5rem;
  padding-top: 2.5rem;
  align-items: center;

  > div {
    display: flex;
    flex-direction: column;

    &.nextContainer{
      text-align: right;
      margin-left: auto;
    }

    span {
      display: block;
      font-size: 1.125rem;
      line-height: 2rem;
    }

    a {
      font-size: 1rem;
      line-height: 1.1875rem;
      color: var(--highlight);
    }
  }

  &::before {
    content: '';

    top: 0;
    left: 0;
    display: block;
    position: absolute;

    width: 100%;
    height: 1px;

    opacity: 0.1;
    background: var(--body);
  }
}
